.data-table-container table {
  width: 100%;
  border-collapse: separate;
  margin-top: 1rem;
}

.data-table-container th,
.data-table-container td {
  text-align: left;
  padding: 0.3rem;
  border: 1px solid #ddd;
}

.data-table-container th {
  background-color: #f2f2f2;
  font-size: 1.2rem;
}

.data-table-container td {
  background-color: #fff;
  font-size: 1rem;
}

.color-cell {
  padding: 0.5rem;
  text-align: center;
}
